body {
  background-color: #2970a2;
  color: #fff;
}
blockquote {
  background-color: #fff;
}
.taskDiv {
  margin: 8px;
  padding: 10px 8px;
  background-color: #e4e3e4;
  color: #333;
  border-radius: 8px;
}
